<style type="text/css">
	.button-link{
		width: 300px;
	}

</style>


<div class="row center-align">
	<div class="col s12">
		{{#link-to 'superadministrador.usuarios' class="waves-effect waves-light btn button-link pink lighten-2"}}<i class="material-icons left">person_pin</i>Usuarios Registrados{{/link-to}}
	</div>
	<div class="col s12" style="margin-top:5px">
		{{#link-to 'superadministrador.instituciones' class="waves-effect waves-light btn button-link pink lighten-2"}}<i class="material-icons left">school</i>Instituciones{{/link-to}}
	</div>
	
</div>

