<style type="text/css">
  .bs{
    width: 160px;
  }

</style>
{{#ember-wormhole to='superadmin-nav' }}
  {{#link-to 'superadministrador.instituciones' class='breadcrumb' }}Instituciones{{/link-to}}
{{/ember-wormhole}}

<div class="row">
  <div class="col s8">
    <h2>Instituciones</h2>
  </div>
  <div class="col s4 right-align">
   {{#link-to 'superadministrador.institucion.nueva' class="waves-effect waves-light btn"}}<i class="material-icons left right-align">add</i>Nueva institución{{/link-to}} </div>

  <div class="col s12">
    <table class="centered">
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Administrador</th>
              <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          {{#each model as |institution|}}

          {{#unless institution.isNew}} 
          <tr>
            <td>{{institution.name}}</td>
            <td>{{institution.adminMaster.nombre}}  {{institution.adminMaster.apellido}}</td>
            <td>{{#link-to 'superadministrador.institucion.editar' institution.id class="btn waves-effect waves-teal bs"}}<i class="material-icons left">edit</i>EDITAR{{/link-to}} <button class="bs" class = "btn waves-effect waves-teal" {{action 'delete' institution }}><i class="material-icons left">delete</i>BORRAR</button>
            </td>
          </tr>
          {{/unless}} 
          {{/each}}
        </tbody>
      </table>

  </div>


</div>