<style type="text/css">
  .bs{
    width: 160px;
  }
</style>

{{#ember-wormhole to='superadmin-nav' }}
  {{#link-to 'superadministrador.usuarios' class='breadcrumb' }}Usuarios{{/link-to}}
{{/ember-wormhole}}

<div class="row">
  <div class="col s8"></div>
  <div class="col s4 rigth-aling">
   {{#link-to "superadministrador.usuario.nuevo" class="waves-effect waves-light btn pink darken-1"}}<i class="material-icons left">add</i>Nuevo{{/link-to}}
  </div>
  <div class="col s12">
    <h2>Usuarios</h2>
    
     <table class="centered">
        <thead>
          <tr>
              <th >Nombre</th>
              <th>Perfil</th>
              <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          {{#each model as |account|}}
          {{#unless account.isNew}} 
            <tr>
              <td>{{account.nombre}}</td>
              <td>{{or account.perfil 'sin perfil'}}</td>
<td>{{#link-to 'superadministrador.usuario.editar' account.id class="btn waves-effect waves-teal bs pink lighten-1"}}<i class="material-icons left">edit</i>EDITAR{{/link-to}} <button class="bs" class = "btn waves-effect waves-teal white pink-text text-lighten-1" {{action 'delete' account}}><i class="material-icons left">delete</i>BORRAR</button> </td>
            </tr>
            {{/unless}}
          {{/each}}
        </tbody>
      </table>
            
  </div>
</div>
