<style type="text/css">
  .br{
    margin-right: 10px;
  }

</style>

<div class="row">
<div class="col s12 m6 offset-m3 z-depth-5">
<div id="register">
      <h4>Crear Secuencia</h4>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          {{input type="text" id="regNombre" value=model.name class="validate"}}
          <label for="regNombre" data-error="{{if regNombreError regNombreError 'Revisando'}}" data-success="Correcto">Nombre</label>
        </div>

        <a class="br" {{action "guardar" model}} class="waves-effect waves-light btn red right"><i class="material-icons right">done</i>GUARDAR</a>
      </div>
    </div>
</div>
</div>