{{#ember-wormhole to='superadmin-nav' }}
  {{#link-to 'superadministrador.institucion.nueva' class='breadcrumb' }}Nueva{{/link-to}}
{{/ember-wormhole}}

<div class="row">
	<div class="col s12">
		<h2>Nueva institución</h2>
    
  </div>
  {{log administradores}}
  <form class="col s12">
    {{#update-fields}}
    <div class="input-field col s12">
          {{input type="text" class="validate" value=model.name}}
          <label for="first_name">Nombre</label>

        </div>
    {{/update-fields}}
        {{#power-select
          selected=model.adminMaster
          options=administradores
          onchange=(action (mut model.adminMaster))
          as |administrador|
        }}
          {{administrador.nombre}} {{administrador.apellido}}
        {{/power-select}}
        <br>

        <a {{action 'guardar' model}} class="waves-effect waves-light btn"><i class="material-icons left">save</i>Nueva</a>
    

  </form>
</div>