<style type="text/css">
	.button-link{
		width: 200px;
	}

</style>
<div class="row center-align">

	<div class="col s12" style="margin-top:5px">
		{{#link-to 'admin.pictos.custom' class="waves-effect waves-light btn button-link"}}<i class="material-icons left">mood</i>Custom{{/link-to}}
	</div>

	<div class="col s12" style="margin-top:5px">
		{{#link-to 'admin.pictos.standard' class="waves-effect waves-light btn button-link"}}<i class="material-icons left">mood</i>Standard{{/link-to}}
	</div>
	
</div>