{{#ember-wormhole to='admin-nav' }}
  {{#link-to 'admin.pictos.nuevo' class='breadcrumb' }}Nuevo{{/link-to}}
{{/ember-wormhole}}
<style type="text/css">
  .br{
    margin-right: 10px;
  }

</style>
{{log model.isCustom}}

<div class="row">
	<div class="col s12 m6 offset-m3 z-depth-5">
		<div id="register">
     	 <h4>Crear Picto</h4>
      		<div class="row">
       			 <div class="input-field col s12">
          			<i class="material-icons prefix">perm_identity</i>
          			{{input type="text" id="regNombre" value=model.name class="validate"}}
         			 <label for="regNombre" data-error="{{if regNombreError regNombreError 'Revisando'}}" data-success="Correcto">Nombre</label>
       		 	</div>
       		 	{{#power-select options=categories selected=model.category onchange=(action (mut model.category))  as |category|}}
  				{{category.name}}
				{{/power-select}}

				<a {{action 'guardar' model}} class="waves-effect waves-light btn"><i class="material-icons left">save</i>Guardar</a>
     		 </div>
   		 </div>
	</div>
</div>

{{outlet}}