{{#ember-wormhole to='admin-nav' }}
  {{#link-to 'admin.pictos.standard' class='breadcrumb' }}Standard{{/link-to}}
{{/ember-wormhole}}
<style type="text/css">
  .bs{
    width: 160px;
  }

</style>

<div class="row">
  <div class="col s8"></div>

  <div class="col s4 rigth-aling">
   {{#link-to "admin.pictos.nuevo" (query-params custom=false) class="waves-effect waves-light btn"}}<i class="material-icons left">add</i>Nuevo{{/link-to}}
  </div>

  <div class="col s12">
    <h2>Pictos</h2>
    
     <table class="centered">
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Categoria</th>
              <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          {{#each model as |picto|}}
          
            <tr>
              <td>{{picto.name}}</td>
             <td>{{or picto.category.name 'sin categoria'}}</td>

<td>{{#link-to 'admin.pictos.editar' picto.id class="btn waves-effect waves-teal bs"}}<i class="material-icons left">edit</i>EDITAR{{/link-to}} 

	<button class="bs" class = "btn waves-effect waves-teal" {{action 'delete' picto}}><i class="material-icons left">delete</i>BORRAR</button> </td> 

            </tr>
          {{/each}}
        </tbody>
      </table>
            
  </div>
</div>

{{outlet}}