<div class="row">
	<div class="col s12">
		<h1>Editar Logro</h1>
	</div>
	<div class="col s12">
		<div class="input-field col s12">
          {{input  type="text" class="validate" value=model.name}}
          <label for="first_name">Nombre</label>
        </div>
        <div class="input-field col s12">
          {{input   type="text" class="validate" value=model.description}}
          <label for="first_name">Descripcion</label>
        </div>
        <a {{action 'edit' model}} class="waves-effect waves-light btn "><i class="fa" class="fas fa-trophy right"></i>Guardar</a>
	</div>
</div>