<style type="text/css">
.bs{
   width: 160px;
}

</style>

<div class="row">
   <div class="col s8"></div>
   <div class="col s4 rigth-aling">
    {{#link-to "admin.logros.nuevo" class="waves-effect waves-light btn"}}<i class="material-icons left">add</i>Nuevo{{/link-to}}
   </div>
   <div class="col s12">
     <h2>Logros</h2>
     
      <table>
         <thead>
           <tr>
               <th>Logro</th>
               <th>Descripcion</th>
               <th>Institucion</th>
               <th>Acciones</th>
           </tr>
         </thead>
 
        <tbody>
           {{#each model as |achievement|}}
           {{#unless achievement.isNew}} 
             <tr>
               <td>{{achievement.name}}</td>
               <td>{{or achievement.description 'sin descripcion'}}</td>
               <td>{{or achievement.institution.name 'sin institucion'}}</td>
              <td>
              	{{#link-to 'admin.logros.editar' achievement.id class="btn waves-effect waves-teal bs"}}<i class="material-icons left">edit</i>EDITAR{{/link-to}} <button class="bs" class = "btn waves-effect waves-teal" {{action 'delete' achievement}}><i class="material-icons left">delete</i>BORRAR</button>
              </td>
             </tr>
             {{/unless}}
           {{/each}}
        </tbody>
    </table>
    </div>
</div>