<style type="text/css">
  .br{
    margin-right: 10px;
  }

</style>

<div class="row">
<div class="col s12 m6 offset-m3 z-depth-5">
<div id="register">
      <h4>Crear Logros</h4>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">looks_one</i>
          {{input type="text" id="regName" value=model.name}}
          <label for="first_name">Nombre</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">looks_two</i>
          {{input type="text" id="regDescription" value=model.description}}
          <label for="first_name">Descripcion</label>
        </div>

        <a class="br" {{action "guardar" model}} class="waves-effect waves-light btn purple right"><i class="fa" class="fas fa-trophy right"></i>Crear Logro</a>
      </div>
    </div>
</div>
</div>