<div class="row">
	<div class="col s12">
		<h1>Editar Etapa</h1>
	</div>
	<div class="col s12">
		<div class="input-field col s12">
          {{input  type="text" class="validate" value=model.name}}
          <label for="first_name">Nombre</label>
        </div>
        <div class="input-field col s12">
          {{input   type="text" class="validate" value=model.admin}}
          <label for="first_name">Categoria</label>
        </div>
        <a {{action 'edit' model}} class="waves-effect waves-light btn "><i class="material-icons left">save</i>Guardar</a>
	</div>
</div>