
{{#ember-wormhole to='admin-nav' }}
  {{#link-to 'admin.etapas' class='breadcrumb' }}Etapas{{/link-to}}
{{/ember-wormhole}}
<style type="text/css">
  .bs{
    width: 160px;
  }

</style>


<div class="row">
  <div class="col s8">
    <h2>Etapas</h2>
  </div>
  <div class="col s4 right-align">
   {{#link-to 'admin.etapas.nueva' class="waves-effect waves-light btn"}}<i class="material-icons left right-align">add</i>Nueva etapa{{/link-to}} </div>

  <div class="col s12">
    <table class="centered">
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Categorias</th>
              <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          {{#each model as |stage|}}
          {{#unless stage.isNew}}   
          <tr>
            <td>{{stage.name}}</td>
            <td>{{stage.admin}}</td>
            <td>{{#link-to 'admin.etapas.editar' stage.id class="btn waves-effect waves-teal bs"}}<i class="material-icons left">edit</i>EDITAR{{/link-to}} <button class="bs" class = "btn waves-effect waves-teal" {{action 'delete' stage }}><i class="material-icons left">delete</i>BORRAR</button>
            </td>
          </tr>
          {{/unless}}
          {{/each}}
        </tbody>
      </table>

  </div>


</div>
