<div class="row">
	<div class="col s12">
		<h2>Nueva etapa</h2>
	</div>
  {{log categories}}
	<form class="col s12">
		<div class="input-field col s12">
          {{input type="text" class="validate" value=model.name}}
          <label for="first_name">Nombre</label>

        </div>
        {{#power-select-multiple
          selected=model.category
          options=categories
          onchange=(action (mut model.category))
          as |categoria|
        }}
          {{categoria.name}} 
        {{/power-select-multiple}}
        <br>

        <a {{action 'guardar' model}} class="waves-effect waves-light btn"><i class="material-icons left">save</i>Guardar</a>
        

	</form>
</div>