<style type="text/css">
	.button-link{
		width: 200px;
	}

</style>

<div class="row center-align">
	<div class="col s12">
		{{#link-to 'admin.etapas' class="waves-effect waves-light btn button-link"}}<i class="material-icons left">layers</i>Etapas{{/link-to}}
	</div>
	<div class="col s12" style="margin-top:5px">
		{{#link-to 'admin.logros' class="waves-effect waves-light btn button-link"}}<i class="fa" class="fas fa-trophy left"></i>Logros{{/link-to}}
	</div>
	<div class="col s12" style="margin-top:5px">
		{{#link-to 'admin.ninos' class="waves-effect waves-light btn button-link"}}<i class="material-icons left">mood</i>Niños{{/link-to}}
	</div>
	<div class="col s12" style="margin-top:5px">
		{{#link-to 'admin.pictos' class="waves-effect waves-light btn button-link"}}<i class="material-icons left">perm_media</i>Pictos{{/link-to}}
	</div>
	<div class="col s12" style="margin-top:5px">
		{{#link-to 'admin.secuencias' class="waves-effect waves-light btn button-link"}}<i class="material-icons left">burst_mode</i>Secuencias{{/link-to}}
	</div>
	
</div>