{{#ember-wormhole to='superadmin-nav' }}
  {{#link-to 'superadministrador.usuario.editar' class='breadcrumb' }}Editar{{/link-to}}
{{/ember-wormhole}}


<div class="row">
	<div class="col s12">
		<h1>Editar usuario</h1>
	</div>
	<div class="col s12">
    {{#update-fields}}
		<div class="input-field col s12">
          {{input  type="text" class="validate" value=model.nombre}}
          <label for="first_name">Nombre</label>
        </div>
        {{/update-fields}}

        {{#update-fields}}
        <div class="input-field col s12">
          {{input   type="text" class="validate" value=model.email}}
          <label for="first_name">Email</label>
        </div>
        {{/update-fields}}
        <a {{action 'edit' model}} class="waves-effect waves-light btn "><i class="material-icons left">save</i>Guardar</a>
	</div>
</div>