{{#ember-wormhole to='superadmin-nav' }}
  {{#link-to 'superadministrador.usuario.nuevo' class='breadcrumb'}}Nuevo{{/link-to}}
{{/ember-wormhole}}
<style type="text/css">
  .br{
    margin-right: 10px;
  }

</style>

<div class="row">
<div class="col s12 m6 offset-m3 z-depth-5">
<div id="register">
      <h4>Crear Administradores</h4>
      <div class="row">
        {{#update-fields}}
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          {{input type="text" id="regNombre" value=nombre class="validate"}}
          <label for="regNombre" data-error="{{if regNombreError regNombreError 'Revisando'}}" data-success="Correcto">Nombre</label>
        </div>
        {{/update-fields}}

        {{#update-fields}}
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          {{input type="text" id="regApellido" value=apellido  class="validate"}}
          <label for="regApellido" data-error="{{if regApellidoError regApellidoError 'Revisando'}}" data-success="Correcto">Apellido</label>
        </div>
        {{/update-fields}}

        {{#update-fields}}
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          {{input type="text" id="regUser" value=user   class="validate"}}
          <label for="regUser" data-error="{{if regUserError regUserError 'Revisando'}}" data-success="Correcto">Usuario</label>
        </div>
        {{/update-fields}}

        {{#update-fields}}
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
           {{input type="password" id="regPass" value=pass   class="validate"}}
          <label for="regUser" data-error="{{if regPassError regPassError 'Revisando'}}" data-success="Correcto">Contraseña</label>
        </div>
        {{/update-fields}}

        <div class="col s12">
        {{#power-select options=institutions selected=institution onchange=(action (mut institution ))  as |institution|}}
        {{institution.name}}
        {{/power-select}}
        <br>
        </div>

        <div class="col s4 right-align">
          {{#link-to 'superadministrador.institucion.nueva' class="waves-effect waves-light btn"}}<i class="material-icons left right-align">add</i>Nueva institución{{/link-to}} </div>


        <a class="br" {{action "guardar"}} class="waves-effect waves-light btn red right"><i class="material-icons right">done</i>Registrarse</a>
      </div>
    </div>
</div>
</div>