<style type="text/css">
  .br{
    margin-right: 10px;
  }

</style>

<div class="row">
<div class="col s12 m6 offset-m3 z-depth-5">
<div id="register">
      <h4>Editar Niño</h4>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          {{input type="text" id="regNombre" value=model.nombre class="validate"}}
          <label for="regNombre" data-error="{{if regNombreError regNombreError 'Revisando'}}" data-success="Correcto">Nombre</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          {{input type="text" id="regApellido" value=model.apellido  class="validate"}}
          <label for="regApellido" data-error="{{if regApellidoError regApellidoError 'Revisando'}}" data-success="Correcto">Apellido</label>
        </div>
    
            <div class="input-field col s12">
          <i class="material-icons prefix">cake</i>
          {{input type="date" id="regFnacimiento" value=model.fnaciminebto  class="validate"}}
          <label for="regFnacimineto" data-error="{{if regFnaciminetoError regFnacimientoError 'Revisando'}}" data-success="Correcto">Fecha de Nacimiento</label>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">home</i>
          {{input type="text" id="regDireccion" value=model.direccion  class="validate"}}
          <label for="regDireccion" data-error="{{if regDireccionError regDireccionError 'Revisando'}}" data-success="Correcto">Direccion</label>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">contact_phone</i>
          {{input type="text" id="regTelefono" value=model.telefono  class="validate"}}
          <label for="regTelefono" data-error="{{if regTelefonoError regTelefonoError 'Revisando'}}" data-success="Correcto">Telefono de Emergencia</label>
        </div>

        <a class="br" {{action "edit" model}} class="waves-effect waves-light btn red right"><i class="material-icons right">done</i>Guardar</a>
      </div>
    </div>
  </div>
</div>
