

<style type="text/css">
  .bs{
    width: 160px;
  }

</style>

<div class="row">
  <div class="col s8"></div>
  <div class="col s4 rigth-aling">
   {{#link-to "admin.ninos.nuevo" class="waves-effect waves-light btn"}}<i class="material-icons left">add</i>Nuevo{{/link-to}}
  </div>
  <div class="col s12">
    <h2>NIÑOS</h2>
    
     <table class="centered">
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Perfil</th>
              <th>Tutor</th>
              <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          {{log model}}
          {{#each model as |kid|}}
          {{#unless kid.isNew}} 
            <tr>
              <td>{{kid.nombre}}</td>
              <td></td>
              <td></td>
<td>{{#link-to 'admin.ninos.editar' kid.id class="btn waves-effect waves-teal bs"}}<i class="material-icons left">edit</i>EDITAR{{/link-to}} <button class="bs" class = "btn waves-effect waves-teal" {{action 'delete' kid}}><i class="material-icons left">delete</i>BORRAR</button> </td>
            </tr>
            {{/unless}}
          {{/each}}
        </tbody>
      </table>
            
  </div>
</div>
