
<nav style="padding-left: 10px" class="teal green lighten-1">
    <div class="nav-wrapper ">
      <div class="col s12" id="admin-nav">
        {{#link-to 'admin' class='breadcrumb'}}Admin{{/link-to}} 
      </div>
    </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col s12">
			Bievenido {{link-to "administrador" "admin.index"}}: {{or model.nombre 'sin nombre'}} {{or model.apellidos ''}} 
		</div>
	</div>
	{{outlet}}
</div>