<nav style="padding-left: 10px" class="teal grey">
    <div class="nav-wrapper grey">
      <div class="col s12" id="nino-nav">
        {{#link-to "nino" class='breadcrumb'}}Nino{{/link-to}} 
      </div>
    </div>
</nav>


<div class="container">
	<div class="row">
		<div class="col s12">
			Bievenido {{link-to "nino" "nino.index"}}: {{or model.nombre 'sin nombre'}} {{or model.apellidos ''}} 
		</div>
	</div>
	
	{{outlet}}
</div>