<div class="row">
<div class="col s12 m6 offset-m3 z-depth-5">
<div id="register">
      <h4>Registrarse</h4>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          {{input type="text" id="regNombre" value=nombre  focus-out=(action 'toogleError' 'regNombre') class="validate"}}
          <label for="regNombre" data-error="{{if regNombreError regNombreError 'Revisando'}}" data-success="Correcto">Nombre</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          {{input type="text" id="regApellido" value=apellido  focus-out=(action 'toogleError' 'regApellido') class="validate"}}
          <label for="regApellido" data-error="{{if regApellidoError regApellidoError 'Revisando'}}" data-success="Correcto">Apellido</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          {{input type="text" id="regUser" value=user  focus-out=(action 'toogleError' 'regUser') class="validate"}}
          <label for="regUser" data-error="{{if regUserError regUserError 'Revisando'}}" data-success="Correcto">Usuario</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
           {{input type="password" id="regPass" value=pass  focus-out=(action 'toogleError' 'regPass') class="validate"}}
          <label for="regUser" data-error="{{if regPassError regPassError 'Revisando'}}" data-success="Correcto">Contraseña</label>
        </div>


        <a {{action "createUser"}} class="waves-effect waves-light btn red right"><i class="material-icons right">done</i>Registrarse</a>
      </div>
    </div>
</div>
</div>